@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dois Irmãos Car Rental</h1>
    <p>Dois Irmãos Car Rental is a trusted car rental service that offers a diverse fleet of well-maintained vehicles, excellent customer service, convenience, and a commitment to safety. Whether for business or leisure, customers can rely on Dois Irmãos for a hassle-free and enjoyable car rental experience.</a>.</p>
</div>
<br />
<br />
<div class="row">
    <section style="display: flex; justify-content: center;" class="col-md-4" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Rents")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-handshake" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Rent a Car</span>
        </button>
    </section>
    <section style="display: flex; justify-content: center;" class="col-md-4" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Clients")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-user" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Clients</span>
        </button>
    </section>
    <section style="display: flex; justify-content: center;" class="col-md-4" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Personnel")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-user-tie" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Personnel</span>
        </button>
    </section>
</div>
<br />
<br />
<br />
<div class="row">
    <section style="display: flex; justify-content: center;" class="col-md-4" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Categories")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-bookmark" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Categories</span>
        </button>
    </section>
    <section style="display: flex; justify-content: center;" class="col-md-4" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Protections")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-shield" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Protections</span>
        </button>
    </section>
    <section style="display: flex; justify-content: center;" class="col-md-4" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Acessories")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-list" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Acessories</span>
        </button>
    </section>
</div>
<br />
<br />
<br />
<div class="row">
    <section style="display: flex; justify-content: center;" class="col-md-6" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Features")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-tag" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Features</span>
        </button>
    </section>
    <section style="display: flex; justify-content: center;" class="col-md-6" aria-labelledby="title1">
        <button onclick="location.href='@("/" + "Taxes")'" style="background-color: #fafafa; color: #24292e; border-color: #24292e40; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center" class="btn btn-primary d-flex flex-column align-items-center btn-lg">
            <i class="fa fa-receipt" style="color: #24292e; margin-bottom: 16px; font-size: 64px"></i>
            <span style="font-weight:600">Taxes</span>
        </button>
    </section>
</div>