@model IEnumerable<UNITINS_DoisIrmaos.Models.Tax>

@{
    ViewData["Title"] = "Index";
}

<h1>Taxes</h1>

<p>
    <a style="border: 16px; background-color: #0366d6; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
                </td>
                <td>
                    <a style="border: 16px; background-color: #28A745; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a style="border: 16px; background-color: #24292E; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a style="border: 16px; background-color: #D73A49; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
