@model UNITINS_DoisIrmaos.Models.Rent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protection.Id)
        </dd>
    </dl>
</div>
<div>
    <a style="border: 16px; background-color: #28A745; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a style="border: 16px; background-color: #24292E; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Index">Back to List</a>
</div>
