@model IEnumerable<UNITINS_DoisIrmaos.Models.Rent>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars Rented</h1>

<p>
    <a style="border: 16px; background-color: #0366d6; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @{
                        var formattedPrice = item.Price.ToString("0.00");
                    }
                @Html.DisplayFor(model => formattedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protection.Name)
                </td>
            <td>
                <a style="border: 16px; background-color: #28A745; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a style="border: 16px; background-color: #24292E; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a style="border: 16px; background-color: #D73A49; color: white; font-weight: 500; margin-right: 8px" type="submit" class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
